.ant-menu-dark .ant-menu-item{
  color: #000;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item{
  padding: 15px 0!important;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  line-height: normal;
}
.ant-menu-item .ant-menu-item-icon + span{
  margin-left: 0;
}
.ant-menu-dark .ant-menu-item:hover{
  background-color: #1890ff;
}
.ant-image{
  height: 100%;
  vertical-align: middle;
}

.imageLibraryBox{
  .ant-list-items{
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    
  }
  .ant-list-split .ant-list-item{
    width: 15%;
    display: inline-block;
    padding: 0;
    margin: 10px 5px;
    cursor: pointer;
    height: 100px;
    .iconfont{
      display: none;
    }
    &.active{
      position: relative;
      .iconfont{
        display: block;
        position: absolute;
        top: 0;
        right: 10px;
        color: #17b217;
      }
    }
    img{
      object-fit: contain;
      height: 100%;
    }
  }
}