.douPopBox {
  background: #b9e0ff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
}
.douPopBox .fs-radio-group {
  position: relative;
}
.douPopBox .code {
  margin: 10px 30px 30px;
  border-radius: 10px;
  background: #0178d3;
  border: 2px solid #fff;
  padding: 20px 20px 30px;
  position: relative;
}
.douPopBox .wxh {
  background: #03418e;
  border-radius: 25px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 20px auto 0;
  text-align: center;
  width: 65%;
}
.douPopBox .fs-title {
  position: static;
}
.douPopBox .fs-form-wrap {
  color: #2e2e2e;
}
.douPopBox .fs-form {
  z-index: 1;
  padding: 0;
  top: 0;
}
.douPopBox .fs-fields > li label.fs-field-label {
  display: block;
  color: #2e2e2e;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
}
.douPopBox .fs-numbers,
.douPopBox .fs-progress {
  display: none;
}
.douPopBox .devider {
  border-bottom: 2px solid #03418e;
  border-top: 1px solid #03418e;
  height: 6px;
  margin-top: 5px;
}
.douPopBox .fs-fields > li {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 11;
  visibility: hidden;
  
}
.douPopBox .fs-fields > li.fs-current {
  visibility: visible;
  top: 0;
  transition: all 0.3s ease;
}
.douPopBox .douPop_page {
  background: #b9e0ff;
}
.douPopBox .fs-message-error {
  bottom: 1.75em;
  left: 0;
  padding: 0 90px 0 2em;
  width: 100%;
  font-size: 1.5em;
  position: absolute;
  color: #eb7e7f;
}
.douPopBox .fs-fields > li .fs-radio-custom span {
  margin-right: 0;
}
.douPopBox .fs-fields .fs-radio-custom label::after {
  height: 100%;
  background-size: 92% !important;
  background-position: 50% 0 !important;
}
.douPopBox .fs-fields .fs-radio-custom input[type=checkbox] {
  position: absolute;
  display: block;
  margin: 30px auto 20px;
  margin: 0 auto 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}
.douPopBox .fs-fields > li .fs-radio-custom span {
  padding: 10px 5px;
}
.douPopBox .fs-fields > li .fs-radio-custom span label {
  color: #4d4d4d;
}
.douPopBox input[type=radio], .douPopBox input[type=checkbox] {
  opacity: 0;
}
.douPopBox input[type=radio]:checked, .douPopBox input[type=checkbox]:checked {
  opacity: 1;
}
.douPopBox input:checked:after {
  content: "✓";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  background: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 50%;
  z-index: 99;
  margin: -15px 0 0 -15px;
}
.douPopBox .rel {
  position: relative;
  /*height:100%;*/
}
.douPopBox .next {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7.04%;
  margin: 0;
}
.douPopBox .fs-fields .rel > label {
  position: absolute;
  left: 26.41%;
  top: 10.7%;
  width: 11.88%;
  height: 7.6%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.douPopBox .fs-fields .rel > label:nth-of-type(2) {
  left: 56.41%;
}
.douPopBox .fs-fields .rel > label:nth-of-type(3),
.douPopBox .fs-fields .rel > label:nth-of-type(4),
.douPopBox .fs-fields .rel > label:nth-of-type(5),
.douPopBox .fs-fields .rel > label:nth-of-type(6) {
  top: 25.3%;
  width: 17.03%;
  height: 14.1%;
  left: 9.38%;
}
.douPopBox .fs-fields .rel label:nth-of-type(4) {
  left: 30.63%;
}
.douPopBox .fs-fields .rel label:nth-of-type(5) {
  left: 52.5%;
}
.douPopBox .fs-fields .rel label:nth-of-type(6) {
  left: 73.44%;
}
.douPopBox .fs-fields .rel > label:nth-of-type(7),
.douPopBox .fs-fields .rel > label:nth-of-type(8),
.douPopBox .fs-fields .rel > label:nth-of-type(9) {
  top: 47.7%;
  width: 16.88%;
  height: 11.3%;
  left: 8.59%;
}
.douPopBox .fs-fields .rel label:nth-of-type(8) {
  left: 30.63%;
}
.douPopBox .fs-fields .rel label:nth-of-type(9) {
  left: 52.5%;
}
.douPopBox .fs-fields .rel > label:nth-of-type(10),
.douPopBox .fs-fields .rel > label:nth-of-type(11),
.douPopBox .fs-fields .rel > label:nth-of-type(12),
.douPopBox .fs-fields .rel > label:nth-of-type(13),
.douPopBox .fs-fields .rel > label:nth-of-type(14),
.douPopBox .fs-fields .rel > label:nth-of-type(15),
.douPopBox .fs-fields .rel > label:nth-of-type(16) {
  top: 67.9%;
  width: 17.19%;
  height: 7.9%;
  left: 8.75%;
}
.douPopBox .fs-fields .rel label:nth-of-type(11),
.douPopBox .fs-fields .rel > label:nth-of-type(15) {
  left: 29.22%;
}
.douPopBox .fs-fields .rel label:nth-of-type(12),
.douPopBox .fs-fields .rel > label:nth-of-type(16) {
  left: 49.69%;
}
.douPopBox .fs-fields .rel label:nth-of-type(13) {
  left: 70.16%;
}
.douPopBox .fs-fields .rel > label:nth-of-type(14),
.douPopBox .fs-fields .rel > label:nth-of-type(15),
.douPopBox .fs-fields .rel > label:nth-of-type(16) {
  top: 78%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label {
  left: 9.84%;
  top: 15.8%;
  width: 17.81%;
  height: 3.5%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(2),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(6) {
  left: 31.09%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(3),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(7) {
  left: 52.03%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(4),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(8) {
  left: 73.59%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(5),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(6),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(7),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(8) {
  top: 21%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(9),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(10),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(11),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(12) {
  left: 10.47%;
  top: 32.1%;
  width: 17.19%;
  height: 14.2%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(10) {
  left: 31.72%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(11) {
  left: 53.75%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(12) {
  left: 74.38%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(13),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(14),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(15),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(16),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(17),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(18),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(19),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(20) {
  left: 9.69%;
  top: 54.4%;
  width: 16.88%;
  height: 7.8%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(17),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(18),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(19),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(20) {
  top: 64.8%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(14),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(18) {
  left: 29.84%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(15),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(19) {
  left: 50.31%;
}
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(16),
.douPopBox .fs-fields li:nth-child(2) .rel > label:nth-of-type(20) {
  left: 70.94%;
}
.douPopBox .fs-fields li:nth-child(3) .rel > label {
  left: 10.63%;
  top: 25.1%;
  width: 17.19%;
  height: 13.3%;
}
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(5),
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(6),
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(7),
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(8) {
  top: 40.5%;
}
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(9),
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(10),
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(11),
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(12) {
  top: 55.8%;
}
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(4n+2) {
  left: 31.09%;
}
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(4n+3) {
  left: 51.56%;
}
.douPopBox .fs-fields li:nth-child(3) .rel > label:nth-of-type(4n+4) {
  left: 72.03%;
}