.ant-menu-dark .ant-menu-item{
  color: #000;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item{
  padding: 15px 0!important;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  line-height: normal;
}
.ant-menu-item .ant-menu-item-icon + span{
  margin-left: 0;
}
.ant-menu-dark .ant-menu-item:hover{
  background-color: #1890ff;
}